.main-div {
  height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .g-div {
    height: 100rem;
    width: 50rem;
    padding: 20px;
    background-color: #ffcccb;
    border: 2px solid red;
  }
  
  .p-div {
    padding: 20px;
    background-color: #add8e6;
    border: 2px solid blue;
  }
  
  .c-div {
    padding: 10px 20px;
    background-color: #90ee90;
    border: 2px solid green;
    cursor: pointer;
    font-size: 16px;
  }
  
  .c-div:hover {
    background-color: #76c776;
  }
 
  button {
    width:100px;
    height:50px;
    background-color: aqua;
  }